.title {
  color: rgb(92, 92, 92);
}

.container {
  display: flex;
  margin-bottom: 3.3em;
  flex-direction: column;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
}

.empty {
  text-align: center;
  font-style: italic;
}

.errorIcon {
  font-size: 0.8em;
  vertical-align: text-bottom;
}
