.container:after {
  content: "";
  height: 1px;
  width: 50px;
  background: black;
  position: absolute;
}

.message {
  padding: 0px 0px 1em 0px;
  border-radius: 5px;
}

.placeholder {
  background-color: black;
  opacity: 0.1;
  animation: fading 1.5s infinite;
}

.greetingMetadataPlaceholder {
  display: flex;
  align-items: center;
}

@keyframes fading {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.1;
  }
}
